body {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.7em;
	color: #555;
	line-height: 1.5;
}

#contenido {
	width: 60em;
	margin-top: 0em;
	margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.t1 {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	color: #666;
	clear: both;
	text-align: right;
}

.t2 {
	font-size: 1.2em;
	font-weight: bold;
	color: #FFF;
	background-color: #2E784D;
	padding: 0.3em;
}

.t3 {
	font-size: 1.2em;
	font-weight: bold;
	color: #000000;
}


/************************************************
*                  CABECERA                    *
************************************************/
#logo {
	background-color: #F0F0F0;
	border: 0.0625em solid #CCC;
	padding: 1em 2em 1em 2em;
	font-size: 1em;
}

#la {
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 3em;
	color: #000;
}

#aceitera {
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 3em;
	color: #000;
}

#lema {
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	font-style: italic;
	color: #2E784D;
}


/************************************************
*            CESTA de la compra                *
************************************************/
#tabla_compra {
	width: 60em;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1em;
}

#tabla_compra td {
	padding: 0.5em;
}

#conceptos th {
	background-color: #F0F0F0;
	border: 0.0625em solid #CCC;
}

#total td {
	padding-top: 0.5em;
	border-top: 0.0625em solid #CCC;
}

#info_en{
	font-size: 0.9em;
	text-align: right;
}


/************************************************
*       Datos de facturación (formulario)      *
************************************************/
.info {
	color: #000;
	background-color: #EEF6FF;
	border: 0.0625em solid #0B639A;
	padding: 0.5em;
	margin: 0em 0.5em 1em 0.5em;
}

.i {
	color: #FFF;
	background-color: #039;
	font-weight: bold;
	font-size: 1.2em;
	padding: 0.1em 0.6em 0.1em 0.6em;
	margin-right: 0.6em;
}

#datos_personales {
	float: left;
	margin-bottom: 1em;
}

#datos_envio {
	float: right;
}

#observaciones {
	clear: both; 
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

.obligatorio {
	color: #A32C00;
}

.campo_form {
	margin-top: 0.5em;
}

.campo_form label {
	padding-left: 0.75em;
	padding-right: 0.75em;
	display: block;
	width: 10em;
	float: left;
	text-align: right;
}

#submit {
	text-align: right;
}


/************************************************
*          Garantías y pie de página           *
************************************************/
#garantias {
	text-align: left;
	line-height: 1.5;
}	

a {

}

a:link {
	color: #0000FF; /*azul*/
}

a:visited {
	color: #572364; /*morado*/
}

a:active {
	background: #2E784D; /*verde*/
	color: #FFF; /*blanco*/
}

.lista {
	padding-left: 2em;
}

#pie {
	border-top: 0.1875em solid #CCC;
	padding: 1em;
	text-align: center;
}